<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Spring Security Example </title>
	<link th:href="@{/css/login.css}" rel="stylesheet">
</head>

<body>
	<div class="form-wrapper">
		<h1>Sign In</h1>
		<!-- エラーメッセージ -->
        <p th:if="${errorMessage}" th:text="${errorMessage}">
		<form th:action="@{/login}" method="post">
			<div class="form-item">
				<label for="username"></label>
				<input type="text" name="username" required="required" placeholder="User Name"></input>
			</div>
			<div class="form-item">
				<label for="password"></label>
				<input type="password" name="password" required="required" placeholder="Password"></input>
			</div>
			<div class="button-panel">
				<input type="submit" class="button" title="Sign In" value="Sign In"></input>
			</div>
		</form>
		<!-- 
		<div class="form-footer">
			<p><a href="#">Create an account</a></p>
			<p><a href="#">Forgot password?</a></p>
		</div>
-->
	</div>
</body>

</html>